## Environment Variables
PORT=3001
# Generate your own: openssl rand -hex 32
JWT_KEY=replace_me_with_a_random_32_byte_hex_string

## Development Database
DEV_DB_USERNAME=conduit
DEV_DB_PASSWORD=conduit
DEV_DB_NAME=conduit_development
DEV_DB_HOSTNAME=127.0.0.1
DEV_DB_PORT=5434
DEV_DB_DIALECT=postgres
DEV_DB_LOGGING=false

## Testing Database
TEST_DB_USERNAME=conduit
TEST_DB_PASSWORD=conduit
TEST_DB_NAME=conduit_test
TEST_DB_HOSTNAME=127.0.0.1
TEST_DB_PORT=5434
TEST_DB_DIALECT=postgres
TEST_DB_LOGGING=false

## Production Database
PROD_DB_USERNAME=conduit
PROD_DB_PASSWORD=
PROD_DB_NAME=conduit_production
PROD_DB_HOSTNAME=127.0.0.1
PROD_DB_PORT=5432
PROD_DB_DIALECT=postgres
PROD_DB_LOGGING=false
